<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="UBERREP.DataConnection" connectionString="data source=MITESH-PC\SQLEXPRESS12;initial catalog=UBERREP;User ID=odyssey;Password=odyssey;persist security info=False;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
