<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  
  <system.net>
    <mailSettings>
      <smtp>        
        <network host="smtp.softinspect.com" userName="support@softinspect.com" password="Softinspect@1234"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="UBERREP.DataConnection" connectionString="data source=MITESH-PC\SQLEXPRESS12;initial catalog=UBERREP;User ID=odyssey;Password=odyssey;persist security info=False;packet size=4096" providerName="System.Data.SqlClient"/>-->
    <add name="UBERREP.DataConnection" connectionString="data source=162.222.225.88;initial catalog=wisglobe;User ID=wisglobe;Password=wisglobe;persist security info=False;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
